@import '../variables.scss';

.lds-ring {
  display: inline-block;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-width: 8px;
    border-style: solid;
    border-color: $color-dark transparent transparent transparent;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

.Comments .lds-ring {
  position: relative;
  div {
    width: 32px;
    height: 32px;
    margin: 4px;
    border-width: 4px;
  }
}

.ToDoItem .lds-ring,
.DeleteToDoItem .lds-ring {
  top: calc(50% - 13.35px);
  left: calc(50% - 13.35px);
  div {
    width: 21.3px;
    height: 21.3px;
    margin: 2.7px;
    border-width: 3px;
    border-color: $color-main transparent transparent transparent;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
