@import '../variables.scss';

.Error {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  &__image {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    background: url('../../statics/error.svg') center no-repeat;
    background-size: contain;
  }
  &__title {
    font-size: 3rem;
    color: $color-warning;
  }
  &__info {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 30px;
    background-color: $color-light;
    p {
      font-weight: 700;
      font-size: 1.6rem;
    }
  }
  &__origin {
    margin-bottom: 10px;
    strong {
      color: $color-warning;
    }
  }

  &__message {
    span {
      font-weight: 400;
    }
  }
}
