@import '../variables.scss';

.ToDoList {
  display: flex;
  flex-direction: column;
  &__details {
    display: flex;
    align-self: flex-start;
    align-items: center;
  }
  &__image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: url('../../statics/tasks.svg') center no-repeat;
    background-size: contain;
  }
  &__title {
    font-size: 1.8rem;
    font-style: italic;
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 25px auto 0;
    button {
      align-self: flex-end;
    }
  }
}
