@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

html {
  font-size: $font-size;
}

body {
  background-color: #e6ecf5;
}

main {
  min-height: calc(100vh - 120px);
  padding: 25px 20px;
}

a {
  text-decoration: none;
  color: $color-light;
}
