@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

html {
  font-size: $font-size;
}

body {
  color: $color-dark;
  background-color: $color-secondary;
}

#modal {
  display: none;
  height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
}

main {
  min-height: calc(100vh - 120px);
  padding: 25px 10px;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1.4rem;
  color: $color-secondary;
  outline: none;
  background-color: $color-main;
  box-shadow: 1px 1px 5px $color-shadow;
  &-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  &--warning {
    background-color: $color-warning;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 1.5px 1.5px 10px $color-shadow;
  }
  &:disabled {
    background-color: $color-disabled;
  }
}

.icon {
  border: none;
  font-size: 1.4rem;
  opacity: 0.7;
  outline: none;
  color: $color-main;
  background-color: transparent;
  &--edit {
    color: $color-edit;
  }
  &--warning {
    color: $color-warning;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.error-component {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: $color-secondary;
  strong {
    margin-bottom: 5px;
    font-size: 1.6rem;
    text-align: center;
    color: $color-warning;
  }
  span {
    font-weight: 700;
  }
  p {
    font-size: 1.4rem;
  }
}
