$font-main: 'Roboto', sans-serif;
$font-logo: 'Fredoka One', cursive;
$font-size: 62.5%;

$color-main: #449700;
$color-secondary: #fff6f6;
$color-light: #ffffff;
$color-dark: #20232a;
$color-shadow: #919191;
$color-card-edge: #f3a616;
$color-card-name: #006fb2;
$color-card-city: #07775f;
$color-card-company: #ea4335;
$color-edit: #1375e6;
$color-warning: #d81919;
$color-success: #39b61f;
$color-disabled: #a1a1a1;
$color-status-online: #0d9c0d;
$color-header: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);

$time-transition: 0.3s;
